*
{
  margin: 0;
  padding: 0;
}

strong
{
    color: #7a2528;
}

body
{
    background-color: grey;
    font-family: Helvetica;
    text-align: center;
}

div
{
  border: 1px solid black;
  width: 960px;
  margin: 15px auto;
  padding: 5px;
}

#h1
{
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
  text-align: left;
  font-size: 1.5cm;
  color: purple;
}

.art
{
  padding-top: 15px;
  padding-bottom: 15px;
}

.u1
{
  padding-top: 5px;
  padding-bottom: 7px;
}

.com
{
  padding-top: 3px;
  padding-bottom: 15px;
  color: #244b4b;
}

.list
{
  padding-top: 5px;
}

.derechos
{
  padding-top: 50px;
  clear: both;
}

.menu
{
  font-family: verdana;
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  font-size: 5px;
}

nav
{
  text-align: left;
}

.columna
{
  width: 200px;
  float: left;
  margin: 20px;
}

.sec
{
  width: 600px;
  float: left;
  margin: 20px;
}

article
{
  background: #fffea8;
  margin-bottom: 15px;
  border: 1px solid #999;
}

div
{
  background: white;
}

li
{
  list-style: none;
}

h1
{
  font-size: 1cm;
}
